body {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana;
    background: #f5faff;    
}

.limit {
    height: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.top {
    width: 100%;
    height: 115px;
    background: #FFF;
    margin-bottom: auto;
    margin-top: auto;
}

.titulos {
    padding-top: 20px;
}

#logo{
    position: absolute;
    margin-left: 566px;
    margin-top: -66px;
}

#titulo {
    font-size: 36px;
}

#subTitulo {
    font-size: 14px;
}

.conteudo {
    background: #f5faff;
}

.menu {
    padding-top: 90px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
}

.menuTitulo {
    font-size: 22px;
}

.menuSubTitulo {
    font-size: 12px;
}

.opcoes{
    float: left;
}

.opcoes input {
    width: 292px;
    height: 28px;
    border: 1px solid #cccccc;
}

.opcoes ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.opcoes li {
    margin-bottom: 12px;
}

#esquerdo{
    width: 395px;
    border-right: 1px solid #cccccc;
}

#esquerdo button {
    width: 294px;
    height: 32px;
    background: #157ab7;
    color: #FFF;
    border: 0px;
}

#direito{
    width: 300px;
    padding-left: 75px;
}

#direito button {
    width: 294px;
    height: 32px;
    background: #5cb85c;
    color: #FFF;
    border: 0px;
}